<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title>Configurar el Servidor</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      th:rel="stylesheet"
      th:href="@{../webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "
    />
  </head>
  <body>
    <div class="container">
      <h1>Configuracion del servidor</h1>
      <form action="#" th:action="@{/gui/config}" method="post">
        <div class="form-group">
          <label for="name">Name: </label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            name="name"
            value="Farmacia de ejemplo"
          />
        </div>
        <div class="form-group">
          <label for="street">Street: </label>
          <input
            type="text"
            class="form-control"
            id="street"
            placeholder="Street"
            name="street"
            value="Calle falsa 123"
          />
        </div>
        <div class="form-group">
          <label for="town">Town: </label>
          <input
            type="text"
            class="form-control"
            id="town"
            placeholder="Town"
            name="town"
            value="Centro"
          />
        </div>
        <div class="form-group">
          <label for="city">City: </label>
          <input
            type="text"
            class="form-control"
            id="city"
            placeholder="City"
            name="city"
            value="Montevideo"
          />
        </div>
        <div class="form-group">
          <label for="department">Department: </label>
          <select class="form-control" id="department" name="department">
            <option
              th:each="dept: ${departments}"
              th:text="${dept.name()}"
              th:value="${dept.name()}"
            ></option>
          </select>
        </div>
        <p>
          Nota: para configurar horarios se debe usar el endpoint
          <b>POST /api/provider</b>
        </p>
        <button type="submit" class="btn btn-primary mb-2">Configure</button>
      </form>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
