<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <title>Sistemas registrados</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      th:rel="stylesheet"
      th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "
    />
  </head>
  <body>
    <form class="form-inline" action="#" th:action="@{/gui}" method="get">
      <div class="form-group mb-2">
        <label for="inputToken">Node: </label>
        <select class="form-control mx-3" id="inputToken" name="centralNode">
          <option selected disabled>Choose...</option>
          <option
            th:each="node : ${nodes}"
            th:value="${node.id}"
            th:text="${node.getResourcesUrl}"
          ></option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mb-2">Select</button>
    </form>

    <div
      th:if="${msg.equals('ok')}"
      class="alert alert-success alert-dismissible fade show"
      role="alert"
    >
      Se cambiaron las cantidades
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div
      th:if="${msg.equals('error')}"
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      Hubo un error al cargar las cantidades
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div th:if="${!isConfigured}" class="alert alert-danger" role="alert">
      <h4 class="alert-heading">Atencion!</h4>
      <p>El servidor no esta configurado</p>
      <a href="gui/config" type="button" class="btn btn-light">Configurar</a>
    </div>
    <div th:if="${selectedNode!=null}" class="card" style="width: 100%;">
      <div class="card-body">
        <h5 class="card-title">
          Central Node: <span th:text="${selectedNode.id}"></span>
        </h5>
        <p class="card-text">
          <b>Get resource request:</b>
          <span th:text="${selectedNode.getResourcesUrl}"></span><br />
          <b>Set availability request:</b>
          <span th:text="${selectedNode.setAvailabilityUrl}"></span><br />
          <b>Added:</b> <span th:text="${selectedNode.registeredAt}"></span
          ><br />
        </p>
      </div>
    </div>
    <form
      class="form-inline"
      action="#"
      th:action="@{/gui/quantity}"
      method="post"
    >
      <input
        type="hidden"
        th:if="${selectedNode!=null}"
        th:value="${selectedNode.id}"
        name="nodeId"
      />
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">External ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">
              <button
                type="submit"
                class="btn btn-primary mb-2"
                th:if="${!resources.empty}"
              >
                Send quantities
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-secondary" th:if="${resources.empty}">
            <td colspan="4" style="text-align: center;">No Data Available</td>
          </tr>
          <tr th:each="resource : ${resources}">
            <td>
              <span th:text="${resource.id}"></span>
              <input type="hidden" name="ids[]" th:value="${resource.id}" />
            </td>
            <td><span th:text="${resource.name}"></span></td>
            <td>
              <input type="number" name="quantities[]" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
